body {
  
}
a,
a:after,
a:before,
a:focus {
    text-decoration: none;
    color: black;
}

.border {
  border: solid black;
}
.border-radius {
  border-radius: 35px;
}
.img:hover {
  opacity: 0.5;
}
.border {
  border: solid black;
}
.shadow {
  box-shadow: 5px 5px 15px 5px rgb(214, 214, 214)
}

.search-form {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  align-items: center;
}
input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin-right: 5px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 58vh;
  border-radius: 250px;  
}
.position {
 position: fixed;
 bottom: 0px;
 width: 100%;

}
.height {
  height: 1vh;
}
.mariginbottom {
  margin-bottom: 32%;
}
.imgrecipe { 
    max-width: 90%;  
    max-height: 90%;    
}

.positionbackbtn {
  position: absolute;
  top: 42px;
  left: 4%;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.z-index {
  z-index: -1;
}

