a,
a:after,
a:before,
a:focus {
    text-decoration: none;
    color: black;
}
section {
  margin-top: 8vh;
  margin-bottom: 12vh;
}
input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin-right: 5px;
}
/* styling for the border-radius and shadow used across the elements */
.border {
  border: solid black;
}
.border-radius {
  border-radius: 35px;
}
.footer-radius {
  border-radius: 40px 40px 0px 0px;
}
.nav-radius {
  border-radius: 0px 0px 40px 40px;
}
.img:hover {
  opacity: 0.5;
}
.border {
  border: solid black;
}
.shadow {
  box-shadow: 5px 5px 15px 5px rgb(214, 214, 214)
}
/* styling on the search box */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 58vh;
  border-radius: 250px;  
}
/* positionign for the footer */
.position {
 position: fixed;
 bottom: 0px;
 width: 100%;

}
.height {
  height: 9vh;
}
.imgrecipe { 
    max-width: 80vh;  
    max-height: 80vh;    
}
.positionbackbtn {
  width: 35px;
  height: 35px;
}
.z-index {
  z-index: 1;
  background-color: azure;
}
.imagemain {
  width: 250px;
  height: 250px;
}
.navbar-image {
  width: 210px; 
  height: 64px
}
/* styling for the time contianer in the nav bar */
.shadowtime {
  color: hsl(171, 100%, 41%);
  color: #3dbeb1
}
.timecolor {
  background-color: #3dbeb1;
  color: white;
  font-weight: bold;
  font-size: medium;
  padding: 2px;
  margin: 1px;
}
.timeshadow {
  box-shadow: 1px 1px 5px 1px hsl(171, 100%, 37%);
}
.timeborder {
  border: solid 1px black;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* media scren to be responisive on smaller screens */
@media screen and (max-width: 1500px) {
  .navbar-image {
    width: 168px; 
    height: 51px
  }
  .imagemain {
    width: 220px;
    height: 220px;
  }
}
@media screen and (max-width: 790px) {
  .navbar-image {
    width: 168px; 
    height: 51px
  }
  .timecolor {
    background-color: #3dbeb1;
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 2px;
    margin: 1px; 
}
section {
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.imagemain {
  width: 190px;
  height: 190px;
}
}